@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500&family=Open+Sans:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*font-family: 'Cormorant Garamond', serif;*/
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 100%;
    background-color: #F7F9F8;
    padding-top: 70px;
}

.pictures{
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}
/* ---------------------------------------------------------------------------------------------------------------------- */

header{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 70px;
    /*border: 1px solid pink;*/
}

#nav1, #nav2{
    width: 33%;
    /*border: 2px solid red;*/
  
}

#nav2-nav, #socials{
    width: 100%;
}
#logo {
    width: 15%;
}

#nav1, #nav2-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

#nav2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#nav1 a, #nav2 a{
    text-decoration: none;
    color: #808080;
}

#socials{
    position: relative;
    bottom: 50px;
    left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

.socials-div{
    width: 30px;
}

/* ----------------------------------------------------------------------------------------------------------------- */

/*page{
    /*display: flex;                dont need bc main-div widths are 100% and column is the default
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}*/

page h1, p, h2{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 30px;
}

.flex-row-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-column-div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#div-1 {
    padding-bottom: 50px;
 }

#div-3{
    padding-top: 50px;
    padding-bottom: 50px;
}

.white-div{
    background-color: white;
}
.inner-level-1{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#text-div-1{
    width: 50%;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
    padding-top: 100px;
    background-color: white;
}

#gallery-div-1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    padding-left: 50px;
    padding-right: 50px;
    /*border-left: 1px solid #808080; border-right: 1px solid #808080;*/
    padding-bottom: 200px;
    

    background-color: white;
}

.text-class{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.gallery-inner-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#gallery-div-1 h1{
    position: relative;
    top: 0;
}

.gallery-div{
    width: 30%;
}

.gallery-href{
    text-decoration: none;

}
.gallery-href:hover{
    filter: blur(5px);
  -webkit-filter: blur(5px);
}

.side-div{
    width: 25%;
    /*background-image: url("images/mountain-550-700-px.png");*/
    filter: blur(5px);
  -webkit-filter: blur(5px);
 

}

.side-img{
    filter: blur(4px);
  -webkit-filter: blur(4px);
}

#moving-div{
    display:flex; flex-direction: row; justify-content: left; align-items: center;
}
#div-3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #EBE5E0;
}

#white-div{
    background-color: white;
    color: black;
    padding-left: 50px;
    padding-right: 50px;
}

#moving-img{
    width: 30%;
}
.hidden{
    width: 40%;
    opacity: 0;
    transition: all 1s;
    filter: blur(3px);
    transform: translateX(-50%);
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
   /* transition: width 2s;*/
}

.hidden2{
    width: 40%;
    opacity: 0;
    transition: all 1s;
    filter: blur(3px);
    transform: translateX(50%);
}
.show2{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

#white-div{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#form-div{
    color: white;
    text-align: center;
    width: 100%;
    height: 500px; 
    /*background-image: url("images/form-img-1500-1000-px.png");*/
    background-image: url("images/form-img-2000-500-px.png");
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.form-inner-div{
    width: 100%;
}
input{
    font-weight: 600;
    border: 0px;
    border-bottom: 1px solid white;

    color: white;
    background: transparent;
    padding: 10px;
    margin-right: 50px;
    margin-bottom: 50px;
    width: 15%;
}
::placeholder{
    color: white;
}
#submit{
    background-color: white;
    color: #808080;
    border: 0px;
    width: 20;
    height: 50px;

}

#submit:hover{
    cursor: pointer;
}

/* ********************************************************************************************************** */



#slideshow-div{
    width: 100%;
    /*border: 2px solid pink;*/
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

#random-div{
    /*border: 5px solid brown;*/
    width: 60%;
}

#slide-show-div-inner{  /* when setting position: relative, make sure the container div width is in pixels so when you make screen smaller the elements stay the same*/
    width: 800px;
    /*border: 2px solid orange;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#slideshow-text-div{
    width: 40%;
    /*border: 2px solid purple;*/
    position: relative; /* when setting position: relative, make sure the container div width is in pixels so when you make screen smaller the elements stay the same*/
    left: 400px;
    top: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#slideshow-text-div div{
    width: 100%;
}
#viewmore{
    width: 90%;
    height: 50px;
    background-color: white;
    border: .5px solid #808080;
}

#viewmore:hover{
    cursor: pointer;
}
.mySlides {display: none; width: 100%;}
.mySlides2 {display: none; width: 100%;}

.slideshow-container {
    width: 45%;
    border: 10px solid white;
    position: relative; /* when setting position: relative, make sure the container div width is in pixels so when you make screen smaller the elements stay the same*/
    bottom: 200px;
    left: 350px;
    
}
.slideshow-container2 {width: 50%;}

.active {
  background-color: #717171;
}
.active2 {
    background-color: #717171;
  }
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
.fade2 {
    animation-name: fade;
    animation-duration: 1.5s;
  }
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade2 {
    from {opacity: .4} 
    to {opacity: 1}
  }
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

#last-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


#tri-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#left-tri{
    border-right: 1px solid #808080;
    text-align: right;

    
}
#right-tri{
    border-left: 1px solid #808080;
}

#left-tri, #right-tri, #middle-tri{
    display: flex;
    flex-direction: column;
    /*justify-content: center;
    align-items: center;*/
    width: 25%;
    border-bottom: 1px solid #808080;
    border-top: 1px solid #808080;
    padding-top: 20px;
    padding-bottom: 20px;
}

#thin-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
    height: 50px;
    
}

#last-div a{
    text-decoration: none;
    color: #393434;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    
}

/* ------------------------------------------------------------------------- */
footer {
    /*background-color: #ede1d1;*/
    background-color: #F7F9F8;
    width: 100%;
    height: 40px;
    border-top: 1px solid #808080;
   
}

footer p {
    color: #808080;
    font-weight: 400;
    float: right;
    padding-right: 10px;
    font-style: italic;
    font-size: 0.75em;
}

footer a {
    text-decoration: none;
    color: #808080;
}

footer a:hover {
    text-decoration: underline;
}

#footer-root-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    /*background-color: #ede1d1;*/
    background-color: #F7F9F8;
    
    padding-bottom: 10px;
    padding-top: 10px;
}